nav{
	background: red;
	text-align: left;
	color: yellow;
	/*border: dashed;*/
	border-style: solid;
}
header{
	margin-left: 400px;
	text-align: center;
	color:blue;
	width: 100px;
	height: 50px;
}

h5 {

	background: blue;
	font-size: 15
}
body{
	width: 1000px;

	text-align: center;
}
footer{
	position: left;
}