nav{
	background: red;
	text-align: left;
	color: yellow;
	border: dashed;
}
header{
	text-align: center;
	color:blue;
}

h5 {

	background: blue;
	font-size: 15
}
body{
	text-align: center;
}
footer{
	position: left;
}